<!-- Page Content -->
<div class="charts">
  <!-- Content Header -->
  <section class="content-header">
    <h1>Key Metrics<small>Charts</small></h1>
  </section>

  <div class="box">
     <!-- Issues Chart -->
	  <div class="row">
	  	<div class="col-sm-6">
	      <div id="issues-chart-live">
	      	<hc-chart-live1 options="$ctrl.chartOptions">Placeholder for generic chart</hc-chart-live1>
	      </div>
	    </div>
	    <div class="col-sm-6">
	      <div id="issues-chart1">
	      	<hc-chart options="$ctrl.chartOptions">Placeholder for generic chart</hc-chart>
	      </div>
	    </div>
	  </div>

	  <!-- Company Issues Chart -->
	  <div class="row">
	    <div class="col-sm-12">
	      <div id="issues-chart2">
	      	<hc-chart-line options="$ctrl.chartOptions">Placeholder for generic chart</hc-chart-line>
	      </div>
	    </div>
	  </div>

	  <!-- Paying Customers Chart -->
	  <div class="row">
	  	<div class="col-sm-6">
	      <div id="paying-cust-chart">
	      	<hc-chart-area options="$ctrl.chartOptions">Placeholder for generic chart</hc-chart-area>
	      </div>
	    </div>
	    <div class="col-sm-6">
	      <div id="paying-cust-chart2">
	      	<hc-chart-column options="$ctrl.chartOptions">Placeholder for generic chart</hc-chart-column>
	      </div>
	    </div>
	  </div>

  </div><!-- /.box -->

</div>

